
h1 {
    font-family: 'Arial', sans-serif; 
    color: #1b6612; 
    font-size: 2.5em;
    margin-top: 20px; 
    margin-bottom: 20px; 
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 1.5px; 
    background-color: #d0ecb0; 
    padding: 10px;
    border-radius: 10px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    text-align: center;
}

h1:hover {
    color: #05360c; 
    background-color: #b9eeb2; 
    cursor: pointer;
}

#btnEliminarAlbum {
    position: absolute;
    top: 20%;
    left: 3%;
    padding: 10px 15px;
    background-color: #095309;
    color: #fff; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-weight: bold;
}

#btnEliminarAlbum:hover {
    background-color: #0b3f06;
}






