
*{
    padding:0;
    margin:0;
    box-sizing: border-box; /*para que el tamaño de los elementos no se modifique*/
}

body{
    margin:0;
    display: block; /*permite que los elementos se acomoden en varias lineas*/
    justify-content: center;
    align-items: center;
    position: relative; /*para que el contenedor se ajuste al tamaño de los elementos*/
    background-color: #F3FBF4;
	font-family: 'Roboto', sans-serif;
}

p{
    color: #141e28;
    font-weight: bold;
    font-size: 20px;
}

h2{
    text-shadow:
        -1px -1px 0 #141e2862,  
        1px -1px 0 #141e2862, 
        -1px 1px 0 #141e2862,  
        1px 1px 0 #141e2862;    
    color: #8FE35B;
    font-size: 50px;
    font-weight: 350;
}

.custom-form input, .custom-form textarea {
    border-color: #8FE35B;
    background-color: #fff;
    transition: border-color 0.3s, background-color 0.3s; 
}

.custom-form input:focus, .custom-form textarea:focus {
    border-color: #8FE35B;  
    background-color: #8FE35B;
    outline: none;  
}


.contact-form {
    background-color: #92BEA5;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

.btn-custom {
    background-color: #8FE35B;
    color: #141e28;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    transition: background-color 0.3s;
}

.btn-custom:hover {
    background-color: #4ba13a;
    color: #F3FBF4;
}


/* Animación de aparición */
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(3px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

*{
    opacity: 1;
    animation-name: fadeInUp;
    animation-duration: .6s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

header {
    animation-delay: 0.1s;
}

.contact-form {
    animation-delay: 0.2s;
}

.btn-custom {
    animation-delay: 0.3s;
}

.text-custom{
    color: #155340;
}
